body {
	margin: 0;
	font-family: sans-serif;
	background-color: #bbb;
	color: #111;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 20px 0;
}

#site-body {
	margin: 0 auto;
	padding: 0 20px;
	width: 600px;
}

#site-title {
	height: 67px;
	background: url("images/quarterheart.svg") no-repeat;
	padding-left: 72px;
	line-height: 66px;
	font-size: 42px;
}

.section {
	margin: 20px 0;
	padding: 20px;
	background-color: #eee;
}
.section *:first-child {
	margin-top: 0;
}
.section *:last-child {
	margin-bottom: 0;
}

#about {
	background-color: #000;
	color: #eee;
}

#controls {
	padding: 0;
	padding-top: 20px;
}
#controls h2 {
	margin: 0 20px 20px;
}
#controls table {
	border-collapse: collapse;
	margin: 0;
	width: 100%;
}
#controls table tbody.camera {
	background-color: #aaf;
}
#controls table tbody.movement {
	background-color: #ada;
}
#controls table tbody.combat {
	background-color: #faa;
}
#controls table tbody.misc {
	background-color: #ffa;
}
#controls table td {
	padding: 0.5em 1em;
}
#controls table tbody:last-child tr:last-child td {
	padding-bottom: 20px;
}
#controls table td:first-child {
	padding-left: 20px;
	font-weight: bold;
	text-align: right;
}
#controls table td:last-child {
	padding-right: 20px;
}
#controls table tr {
	border-top: 1px dotted #111;
}
#controls table tbody:first-child tr:first-child {
	border: none;
}
#controls .command {
	white-space: nowrap;
}

#testing table {
	width: 100%;
	border-spacing: 5px;
}
#testing table td {
	width: 20%;
	height: 100px;
	padding: 10px;
	background-color: #ddd;
	font-weight: bold;
	text-align: center;
	color: #bbb;
}
#testing table td.day {
	background-color: #c00;
	color: #fee;
}
#testing table span.time {
	font-weight: normal;
}